
/* heading_text
============================================ */
.heading_text {
    background-color: #14192b;
    position: sticky;
    top: 0px;
    height: 60px;
    z-index: 1;
}

.heading_text > h1 {
    color: #43586c;
    animation: color-change infinite 5s;

    font-weight: normal;
    font-size: 1.5em;
    left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #14192b;
    position: absolute;
    top: 25%;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

@keyframes color-change {
    0%{
        color: #ffffff;
    }
    50%{
        color: #9aaab9;
    }
    100%{
        color: #ffffff;
    }
}


.heading_text > div {
    background-color: #43586c;

    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}


/* sub_heading 1
============================================ */
.sub_heading {
    display: flex;
    position: relative;
    height: 30px;
    width: 200px;
    background-color: #14192B;
}

.sub_heading > div {
    width: 30px;
    height: 40px;
    border-left: #e77809 solid 5px;
    background-color: #ffbb00;
    margin-top: -5px;
}

.sub_heading > h3 {
    color: white;
    margin: 5px 10px 10px 15px;
    left: 100px;
}

/* sub_heading 2
============================================ */
.sub_heading2 {
    display: flex;
    position: relative;
    height: 30px;
    width: 180px;

    left: 85px;
    top: auto;
    padding-bottom: 10px;
    padding-top: 50px;
}

.sub_heading2 > div {
    width: 20px;
    height: 30px;
    border-left: #e77809 solid 5px;
    background-color: #ffbb00;
}

.sub_heading2 > h3 {
    color: #14192B;
    margin: 5px 10px 10px 15px;
    left: 100px;
}

