#other > :nth-child(2) {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#other > :nth-child(2) img {
    width: 80%;
    align-self: center;
}

.slider {
    position: relative;
}

.slider-img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.slider-img.active {
    opacity: 1;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.prev-btn {
    left: 40px;
}

.next-btn {
    right: 40px;
}


/* Grayscale images hover
============================================ */
.img_gray {
    filter: grayscale(1);
}

.img_gray:hover {
    filter: none;
}


/* Button styles
============================================ */
.button-style {
    display: inline-block;
    padding: 8px 20px 3px 20px;
    background-color: #fecb02;
    color: #14192b;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 5px 0px rgb(255, 128, 0);
    transition: all 0.2s ease-in-out;
    position: relative;
    font-weight: bold;
    font-size: 90%;
}

.button-style:hover {
    background-color: #e7b609;
}

/* Button styles 2
============================================ */
.button-style-2 {
    display: inline-block;
    padding: 8px 20px 3px 20px;
    background-color: #14192B;
    color: #c9d0cc;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 5px 0px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
    position: relative;
    font-weight: bold;
    font-size: 70%;
}

.button-style-2:hover {
    background-color: #0f111e;
}

/* icon set
============================================ */
.icon_set {
    display: flex;
    align-items: center;
}

.icon_set menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon_set menu li {
    margin-right: 10px;
}

.icon_set menu a img {
    vertical-align: middle;
    width: 30px;
    transition: all 0.2s ease-in-out;
}

.icon_set menu a img:hover {
    transform: scale(1.2);
}


/*assignments
============================================ */
#assignments {
    display: flex;
    justify-content: center;
    width: 100%;
}

#assignments section {
    margin: 30px;
    background: #E7F0ED;
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
}

#assignments p, #assignments a {
    margin: 0;
    align-self: center;
}


