
/* heading_text
============================================ */
.heading_text {
    background-color: #14192b;
    position: sticky;
    top: 0px;
    height: 60px;
    z-index: 1;
}

.heading_text > h1 {
    color: #43586c;
    animation: color-change infinite 5s;

    font-weight: normal;
    font-size: 1.5em;
    left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #14192b;
    position: absolute;
    top: 25%;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

@keyframes color-change {
    0%{
        color: #ffffff;
    }
    50%{
        color: #9aaab9;
    }
    100%{
        color: #ffffff;
    }
}


.heading_text > div {
    background-color: #43586c;

    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
