/* Fonts */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Header styles
============================================ */
header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #E7F0ED;
    color: #14192B;
    top: 0;
    left: 0;
    right: 0;
}

header > a > img {
    padding-left: 20px;
}

header > a > img {
    transition: all 0.2s ease;
}

header > a > img:hover {
    transform: scale(1.2);
}

header > nav {
    padding-right: 20px;
}

header menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header menu li {
    margin-right: 20px;
}

header menu li a {
    color: #14192b;
    text-decoration: none;
    transition: all 0.2s ease;
}

/* normal state */
.hoverText {
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

/* hover state */
.hoverText:hover {
    font-weight: bold;
    transform: scale(1.2);
}

/* Underline Text */
.underline {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.underline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #FECB02;
    transition: width 0.3s ease-in-out;
}

.underline:hover::after {
    width: 100%;
}

/* back-to-top
============================================ */
#back-to-top {
    z-index: 10;
    position: fixed;
    background-color: rgba(20, 25, 43, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: rgba(255, 255, 255, 0.5) solid 2px;
    bottom: 20px;
    right: 20px;

    transition: all 0.2s ease-in-out;
}

#back-to-top:hover {
    background-color: #14192b;
    transform: scale(1.2);
}

#back-to-top > a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

#back-to-top > a:hover {
    transform: scale(1.2);
}


/* main > sections
============================================ */
main > section {
    width: 100%;
    position: relative;
}

/*intro*/
main > section:nth-child(1) {
    /*background-color: #a8fd40;*/
    height: 85vh;
}

/*work*/
main > section:nth-child(2) {
    /* background-color: #fd4040;*/
}

/*other*/
main > section:nth-child(3) {
    /* background-color: #ffbb00;*/
    height: 100vh;
}

/*more*/
main > section:nth-child(4) {
    /* background-color: #333960;*/
}

/*contact*/
main > section:nth-child(5) {
    /* background-color: #7b97ff;*/
    height: 100vh;
}


main > section:nth-child(1) > img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

/* heading_text
============================================ */
.heading_text {
    background-color: #14192b;
    position: sticky;
    top: 0px;
    height: 80px;
    z-index: 1;
}

.heading_text > h1 {
    color: white;
    font-weight: normal;
    left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #14192b;
    position: absolute;
    top: 30%;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.heading_text > div {
    background-color: #43586c;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* work > 3 sections
============================================ */
#programming {
    background-color: #fd4040;
    padding-left: 50px;
    padding-top: 30px;
}

#design {
    background-color: #3164ff;
    padding-left: 50px;
    padding-top: 30px;
}

/* Work > Games >
============================================ */
#games > article:nth-child(1) {
    position: relative;
    display: flex;
    padding-top: 100px;
}

#games > article:nth-child(1) > aside:nth-child(1) {
    background-color: rgb(231, 240, 237);
    width: 100px;

}

#games > article:nth-child(1) > aside:nth-child(2) {
    width: 20%;
    position: relative;
}

#games > article:nth-child(1) > aside:nth-child(3) {
    width: 80%;
    position: relative;
    top: 20px;
    padding-right: 50px;
    padding-left: 25px;
    padding-bottom: 20px;
}

#games > article:nth-child(1) > aside:nth-child(2) > img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#games > article:nth-child(2) > section:nth-child(2) {
    background-color: #e7f0ed;
}

/* icon set
============================================ */
.icon_set_and_button {
    display: flex;
    align-items: center;
}

.icon_set_and_button h4 {
    padding-left: 20px;
    margin: 0;
    font-weight: bold;
    color: #14192B;
}

/* icon set */
.icon_set {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon_set menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon_set menu li {
    margin-right: 10px;
}

.icon_set menu a img {
    vertical-align: middle;
    width: 30px;
    transition: all 0.2s ease-in-out;
}

.icon_set menu a img:hover {
    transform: scale(1.2);
}


/* icon set 2 */
/*.icon_set2 {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 100px;
}

.icon_set2 menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon_set2 menu li {
    padding-right: -40px;
}

.icon_set2 menu a img {
    vertical-align: middle;
    width: 70%;
    transition: all 0.2s ease-in-out;
}

.icon_set2 menu a img:hover {
    transform: scale(1.1);
}*/
.icon_set2 {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 100px;
}

.icon_set2 menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon_set2 menu li {
    margin: 0;
}

.icon_set2 menu a img {
    vertical-align: middle;
    width: 70%;
    transition: all 0.2s ease-in-out;
}

.icon_set2 menu a img:hover {
    transform: scale(1.1);
}


/* Button styles
============================================ */
.button-style {
    display: inline-block;
    padding: 8px 20px 3px 20px;
    background-color: #fecb02;
    color: #14192b;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 5px 0px rgb(255, 128, 0);
    transition: all 0.2s ease-in-out;
    position: relative;
    font-weight: bold;
    font-size: 90%;
}

.button-style:hover {
    background-color: #e7b609;
}

/* sub_heading 1
============================================ */
.sub_heading {
    display: flex;
    position: relative;
    height: 30px;
    width: 180px;
    background-color: #14192B;
}

.sub_heading > div {
    width: 30px;
    height: 40px;
    border-left: #e77809 solid 5px;
    background-color: #ffbb00;
    margin-top: -5px;
}

.sub_heading > h3 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 10px 10px 15px;
    left: 100px;
}

/* sub_heading 2
============================================ */
.sub_heading2 {
    display: flex;
    position: relative;
    height: 30px;
    width: 180px;

    left: 85px;
    top: auto;
    padding-bottom: 10px;
    padding-top: 50px;
}

.sub_heading2 > div {
    width: 20px;
    height: 30px;
    border-left: #e77809 solid 5px;
    background-color: #ffbb00;
}

.sub_heading2 > h3 {
    color: #14192B;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 10px 10px 15px;
    left: 100px;
}

/*
============================================ */
.break {
    background-color: #333960;
    height: 10px;
    border-bottom: #e7f0ed solid 5px;
    width: 90%;
    position: absolute;
    left: 90px;
    right: 0;
}

/*
============================================ */
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*menu,ul{
    margin-bottom: 0px;
}*/

dfn {
    font-style: normal;
    font-weight: bold;
}

.paragraphs {
    background-color: #e7f0ed;
    border-left: #e7f0ed solid 20px;
    border-top: #e7f0ed solid 5px;
    border-bottom: #e7f0ed solid 5px;
    border-right: #e7f0ed solid 5px;
    margin-top: 15px;
}

